/* hero_section  */
.hero_section {
  padding-top: 70px;
  height: 450px;
  z-index: 1;
}

.hero_section .searchBar .inputTitle {
  display: none;
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 10px;
  transform: translateY(-50%);
}

.hero_section .searchBar .inputTitle.active {
  display: block;
  background: white;
  padding: 0px 10px;
  top: 0;
  animation: locationInputTitleSlideUp 0.3s linear;
}

@keyframes locationInputTitleSlideUp {
  0% { left: 10px; top: 50%; font-size: 12px; transform: translateY(-50%)}
  100% { top: 0; font-size: 10px}
}

.hero_section input {
  height: 70px;
  font-size: 15px;
  outline: none;
}

.hero_section input:focus {
  border: 1px solid black;
}

.hero_section input:focus::placeholder {
  opacity: 0;
}

.hero_section .searchBar .location_link {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media all and (min-width: 992px) {
  .hero_section .searchBar {
    background: white;
  }
}
