
/* NAVBAR */

@mixin nav_cnt_common {
  height: 50px;
  line-height: 50px;
  border: 0;
}

.scroll_hover_block {
  display: none;
}

header {
  width: 100%;
  @include positionFixedTopLeft0;
  nav {
    position: relative;
    height: 50px;
    /* nav(generalRules) */
    .languages {
      @include nav_cnt_common;
      .language {
        height: 50px;
        border-right: 1px solid grey;
        &.nb {
          border-left: 1px solid grey;
          border-right: 1px solid black;
        }
        span {
          font-size: 0.8rem;
          color: #333333;
          &:hover {
            color: black;
          }
        }
      }
    }
    .login_cnt {
      @include nav_cnt_common;
      .login {
        & span {
          border-right: 1px solid grey;
          font-size: 0.8rem;
        }
      }
    }
    .purchase_cnt {
      @include nav_cnt_common;
    }
    /* nav.scrolling */
    &.scrolling {
      background: white;
      .languages {
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        .language {
          border: 0;
          &.nb {
            border-right: 1px solid black;
          }
        }
      }
      .login_cnt {
        border-right: 1px solid grey;
        .login {
          img {
            &.scroll_hover_block {
              display: none;
            }
          }
          span {
            border: 0;
          }
        }
        &:hover {
          background: #D70E64;
          .foodora_text {
            color: white;
          }
          img {
            &.scroll_hover_none {
              display: none;
            }
            &.scroll_hover_block {
              display: inline;
            }
          }
        }
      }
      .purchase_cnt {
        img.scroll_hover_block {
          display: none;
        }
        &:hover {
          background: #D70E64;
          img {
            &.scroll_hover_none {
              display: none;
            }
            &.scroll_hover_none {
              display: inline;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 992px) {

 header {
   nav {
     .logo {
       display: block;
       position: absolute;
       left: 20px;
       top: 0;
       line-height: 50px;
     }
   }
 }

}

@media all and (max-width: 991px) {

  header {
    nav {
      &.scrolling {
        .purchase_cnt, .login_cnt {
          border: 0;
        }
      }
    }
  }

}
